@model List<EmployeeManagement.Models.Person>

<h1>Person List</h1>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var po in Model)
        {
            @if (po != null) // Check if the po object is not null
            {
                <tr>
                    <td>@po.Id</td>
                    <td>@po.Name</td>
                    <td>@po.Description</td>
                </tr>
            }
            else
            {
                <tr>
                    <td colspan="3">Null Person Object</td>
                </tr>
            }
        }
    </tbody>
</table>
