
<div>
    <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<form method="post" action="/Person/Update" class="update-form">
    <label for="id">Person ID:</label>
    <input type="number" name="id" placeholder="Enter Person ID" class="form-input">
    <label for="name">New Name:</label>
    <input type="text" name="name" placeholder="New Name" class="form-input">
    <label for="description">New Description:</label>
    <input type="text" name="description" placeholder="New Description" class="form-input">
    <button type="submit" class="submit-button">Update Person</button>
</form>
</div>
<style>
      .container{
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .update-form {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
    margin-top: 40px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 300px; /* Adjust width as needed */
}

.update-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.form-input {
    width: calc(100% - 20px); /* Adjust for padding */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    transition: border-color 0.3s ease;
    font-size: 16px;
}

.form-input:focus {
    border-color: #007bff; /* Blue */
    outline: none;
}

.submit-button {
    background-color: #007bff; /* Blue */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #0056b3; /* Darker blue */
}

</style>